<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/search/">
    <%= render '/instantsearch-head.*' %>
  </head>
  <body>
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <section class="gl-docs container pt-5">
      <div class="row">
        <div class="col-12 mt-5">
          <div class="main class pl-lg-4 instantsearch-input">
            <%= yield %>
            <%= render '/footer.*' %>
          </div>
        </div>
      </div>
    </section>
    <script src="/frontend/shared/global_imports.js"></script>
    <script type="application/javascript" src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
    <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
    <script src="<%= @items['/frontend/search/index.*'].path %>"></script>
    <% if production? %>
    <%# Add analytics only in production %>
      <%= render '/analytics.*' %>
    <% end %>
    <%= render '/schema-microdata.*' %>
  </body>
</html>
